*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* Nav-Bar */


nav{
    background: #a6cc80;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #42c2e3;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(Img/Eco-Mujer.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}


@font-face{
    font-family: biennale-bold;
    src: url(/Fonts/biennale-bold.otf);
}

@font-face{
    font-family: biennale-regular;
    src: url(/Fonts/biennale-regular.otf);
}

@font-face{
    font-family: arial;
    src: url(/Fonts/arial.ttf);
}

@font-face{
    font-family: arial italic;
    src: url(/Fonts/arial-italic.ttf);
}

@font-face{
    font-family: arial bolt;
    src: url(/Fonts/arial-bold.ttf);
}

@font-face{
    font-family: arial bolt italic;
    src: url(/Fonts/arial-bold-italic.ttf);
}


@media (max-width: 952px){
    .enlace{
        padding-left: 28px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #42c2e3;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: #f3bf1b;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
